[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pydantic-settings = "*"
loguru = "*"
openai = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
